@using BlogDemo.Models

@{
    ViewBag.Title = "Index";
    List<Article> articles = ViewBag.Articles;
}

<h2>文章列表</h2>
@if (articles.Count == 0)
{
    <p>啥也没有，先新建文章吧~~</p>
}
else
{
    foreach (Article article in articles)
    {
        <p>@article.Titel --------- <a href="Show?articleId=@article.ArticleId">查看</a>,<a href="Update?articleId=@article.ArticleId">修改</a></p>
    }
}


<h2><a href="Insert">新建文章</a></h2>

