
@{
    ViewBag.Title = "Insert";
}

<h2>新建文章</h2>
<form action="InsertSubmit" method="post">
    <input type="text" name="titel"/><br/>
    <textarea name="content" rows=4 cols=20></textarea><br/>
    <input type="submit"/>
</form>

